<style>
  .gg{
    #828282,
    #A30F29,

  }
</style>
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
  gutterSize="0"
  class="mb-2"
>
  <mat-grid-tile>
    <div class="w-75 h-75 rounded shadow foodies-red-bg">
      <div
        class="h-50 d-flex justify-content-center align-items-center"
      >
        <mat-icon>point_of_sale</mat-icon>
      </div>
      <div
        class="h-25 d-flex justify-content-center align-items-center counter-icon-text"
      >
        Sales
      </div>
      <div class="h-25 d-flex justify-content-center counter-icon-number">
        33K
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="foodies-red-bg w-75 h-75 rounded shadow">
      <div
        class="h-50 d-flex justify-content-center align-items-center"
      >
        <mat-icon>supervised_user_circle</mat-icon>
      </div>
      <div
        class="h-25 d-flex justify-content-center align-items-center counter-icon-text"
      >
        HR Admins
      </div>
      <div class="h-25 d-flex justify-content-center counter-icon-number">
        22
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="foodies-red-bg w-75 h-75 rounded shadow">
      <div
        class="h-50 d-flex justify-content-center align-items-center"
      >
        <mat-icon>people</mat-icon>
      </div>
      <div
        class="h-25 d-flex justify-content-center align-items-center counter-icon-text"
      >
        Vendors
      </div>
      <div class="h-25 d-flex justify-content-center counter-icon-number">
        22
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="foodies-red-bg w-75 h-75 rounded shadow">
      <div
        class="h-50 d-flex justify-content-center align-items-center"
      >
        <mat-icon>local_shipping</mat-icon>
      </div>
      <div
        class="h-25 d-flex justify-content-center align-items-center counter-icon-text"
      >
        Deliveries
      </div>
      <div class="h-25 d-flex justify-content-center counter-icon-number">
        37
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<section class="row">
  <div class="col-md-6 col-sm-12"><canvas id="lineChart"></canvas></div>
  <div class="col-md-6 col-sm-12"><canvas id="pieChart"></canvas></div>
</section>
