<div class="login-bg" style="height: 100vh">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <mat-card style="width: 21rem; height: 26rem">
      <form
        [formGroup]="adminLogin"
        (ngSubmit)="onAdminLogin()"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="/assets/img/logo.png"
          alt="logo"
          class="img-fluid mx-auto mb-4 mt-3"
          width="80px"
          height="80px"
        />
        <p class="admin-login-text">Admin Login</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            type="text"
            placeholder="john@example.com"
            name="email"
            formControlName="username"
            required
          />
          <mat-error *ngIf="this.adminLogin.get('username').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-100">LOGIN</button>
      </form>
    </mat-card>
  </div>
</div>
