.login-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/loginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-login-text{
  font-size: 1rem;
  color: #ed2124;
  font-family: 'B612', sans-serif;
}
