/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.foodies-red-text {
  color: #ED2124;
}
// #a30f29 og foodies red

.foodies-red-bg {
  background-color: #ED2124;
}
@import url("https://fonts.googleapis.com/css2?family=B612:ital@0;1&display=swap");
